
.form_box
  = form_for @tweet do |f|
    - if @tweet.errors.any?
      #error_explanation
        %h4= "#{pluralize(@tweet.errors.count, "error")} prohibited this tweet from being saved:"
        %ul
          - @tweet.errors.full_messages.each do |msg|
            %li= msg


    .field
      = f.file_field :image,class: "image"

    .field

      = f.text_area :content, rows: 8, placeholder: "投稿する", class: "text_area"


    .actions
      = f.submit '送信', class: "btn-primary"
