#tweet
	%h4
		投稿一覧
	.tweet_box

		-@tweets.each do |tweet|
			.user_box
				.user_profile_box
					= image_tag tweet.user.image_url(:thumb).to_s, class: "user_image"

					.username
						= tweet.user.username	
						
						.usernamea
							= '@' + tweet.user.username


					.fa_box
									
						.show
							= link_to 'show', tweet
						.edit
							= link_to 'edit', edit_tweet_path(tweet)
						.destroy
							= link_to 'destroy', tweet, :method => :delete, :data => { :confirm => "Are you ok? "}

		
				= tweet.content
				%br
				= image_tag tweet.image_url.to_s if tweet.image?
				

