-@tweets.each do |tweet|
	= tweet.user.username
	= tweet.content
	= link_to 'show', tweet
	= link_to 'edit', edit_tweet_path(tweet)
	= link_to 'destroy', tweet, :method => :delete, :data => { :confirm => "Are you ok? "}
	%br


