#tweet
	%h4
		投稿一覧
	.tweet_box

		-@tweets.each do |tweet|
			.user_box

				.user_profile_box
					-if tweet.user == current_user
						= image_tag tweet.user.image_url(:thumb).to_s, class: "cuser_image"
					-else
						= image_tag tweet.user.image_url(:thumb).to_s, class: "user_image"

					.names
						.username
							-if tweet.user == current_user
								.cuser
									%strong= tweet.user.username
							-else 
								.other
									%strong= tweet.user.username
						
							%p= '@' + tweet.user.account_name


						.fa_box
									
							.show
								= link_to '編集', tweet
							.edit
								= link_to 'お気に入り', edit_tweet_path(tweet)
							.destroy
								= link_to '削除', tweet, :method => :delete, :data => { :confirm => "Are you ok? "}

				.comment_box
					.comment
						%strong= tweet.content
						%br
					.image	
						= image_tag tweet.image_url.to_s if tweet.image?
				

