#users_index
	.title
		%h1 ユーザー一覧
	.members
		- @users.each do |u|
			= image_tag u.image_url(:thumb), class: 'image'
			.username
				= u.username
			.account_name  	 
				= '@' + u.account_name
			.detail
				= link_to 'プロフィールをみる',user_path(u)
			.follow
				= link_to "follow", user_follow_path(u), method: :post
			.tweet_num
				tweet
			.fav_num
				fav
			.follow_num
				follow
			.follower_num
				follower
			= u.bio
			%br




