#users_index
	.title
		%h1 ユーザー一覧
	.members
		- @users.each do |u|

			.profile.span4
				= image_tag u.image_url(:thumb), class: 'image'
				.user_box
					.names
						.username
							%p= u.username
						.account_name  	 
							= '@' + u.account_name
					.user_at
						= link_to 'プロフィールをみる',user_path(u)
				.list
					%table
						%tr
							%th.span3 ツイート
							%th.span3	お気に入り
							%th.span3	フォロー
							%th.span3 フォロワー
						%tr
							%td= u.tweets.count
							%td= u.favorites.count
							%td= u.follows.count
							%td= u.inverse_follows.count
				.bio_box
					%p= u.bio
					%br




