#sign_in 
  .title
    %h2 Sign in
  
  .sign_box
    .form.content.container
      = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|

        .login
          = f.label :login, class: "login_text"
          %br/
          = f.text_field :login, :autofocus => true, class: "login_form"
        .password
          = f.label :password, class: "password_text"
          %br/
          .password_box
            = f.password_field :password, class: "password_form"
        - if devise_mapping.rememberable?
          .remember
            = f.check_box :remember_me
            = f.label :remember_me
        .submit.btn.btn-primary
          = f.submit "Sign in"
  
  = render "devise/shared/links"
